.summary {
    background: #333;
    color: whitesmoke;
    overflow: auto;
    padding: 8px;
    border-radius: 20px;
}

.summary > div {
    float: left;
    text-align: left;
}

.summary > div:last-child {
    text-align: right;
    float: right;
}

.search-form {
    margin: 20px 0;
}

.search.progress .progress-bar {
    width: 100%;
}

.row.checkboxes > div {
    text-align: center;
}

.listing {
    float: left;
    margin: 10px;
    position: relative;
}

.listing .price {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 255, 0, 0.4);
    padding: 1px;
    color: white;
}

.listing.forSale .price {
    background: rgba(0, 0, 0, 0.4);
}