[ng-controller="SearchCtrl"] .remove-button {
  cursor: pointer;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 0;
  right: 0;
  background: maroon;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  opacity: 0.4;
  text-align: center;
  font-weight: bold; }
  [ng-controller="SearchCtrl"] .remove-button:hover {
    opacity: 1; }

[ng-controller="SearchCtrl"] .summary {
  background: #333;
  color: whitesmoke;
  overflow: auto;
  padding: 8px;
  border-radius: 20px; }
  [ng-controller="SearchCtrl"] .summary > div {
    float: left;
    text-align: left; }
    [ng-controller="SearchCtrl"] .summary > div:last-child {
      text-align: right;
      float: right; }

[ng-controller="SearchCtrl"] .search-form {
  margin: 20px 0; }

[ng-controller="SearchCtrl"] .search.progress .progress-bar {
  width: 100%; }

[ng-controller="SearchCtrl"] .row.checkboxes > div {
  text-align: center; }

[ng-controller="SearchCtrl"] .listing-old {
  float: left;
  margin: 10px;
  position: relative; }
  [ng-controller="SearchCtrl"] .listing-old .price {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 250, 75, 0.7);
    padding: 2px;
    color: white;
    border-radius: 10px; }
  [ng-controller="SearchCtrl"] .listing-old.forSale .price {
    background: rgba(0, 0, 0, 0.7);
    color: white; }

[ng-controller="SearchCtrl"] .price-group {
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  height: 125px;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; }
  [ng-controller="SearchCtrl"] .price-group img {
    float: left;
    height: 100%; }
  [ng-controller="SearchCtrl"] .price-group .price {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 2.5em;
    font-weight: bold;
    color: rgba(0, 250, 75, 0.9);
    background: rgba(0, 0, 0, 0.7);
    padding: 2px;
    border-radius: 10px; }

[ng-controller="SearchCtrl"] .results-container {
  display: flex; }
  [ng-controller="SearchCtrl"] .results-container .results {
    width: 50%;
    overflow: hidden;
    box-sizing: border-box; }
    [ng-controller="SearchCtrl"] .results-container .results header {
      display: flex;
      align-items: center;
      justify-content: center; }
      [ng-controller="SearchCtrl"] .results-container .results header h1 {
        font-size: 1.3em;
        margin: 0;
        font-weight: 700; }
      [ng-controller="SearchCtrl"] .results-container .results header h2 {
        margin: 0 0 0 5px;
        font-size: 1em;
        font-weight: 100;
        background: black;
        color: white;
        padding: 5px;
        border-radius: 10px; }
    [ng-controller="SearchCtrl"] .results-container .results .top-heading {
      position: relative; }
    [ng-controller="SearchCtrl"] .results-container .results.sold header {
      color: green; }
      [ng-controller="SearchCtrl"] .results-container .results.sold header h2 {
        background: green; }
    [ng-controller="SearchCtrl"] .results-container .results.sold .listings .listing {
      border-color: limegreen; }
    [ng-controller="SearchCtrl"] .results-container .results .listings {
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
      [ng-controller="SearchCtrl"] .results-container .results .listings .listing {
        position: relative;
        width: 100%;
        border: dashed 2px rgba(0, 0, 0, 0.5);
        margin: 5px;
        padding: 5px;
        box-sizing: border-box; }
        [ng-controller="SearchCtrl"] .results-container .results .listings .listing .thumb {
          height: 150px;
          display: block;
          margin: auto; }
        [ng-controller="SearchCtrl"] .results-container .results .listings .listing .details {
          width: 100%; }
          [ng-controller="SearchCtrl"] .results-container .results .listings .listing .details p {
            line-height: 1.5; }
            [ng-controller="SearchCtrl"] .results-container .results .listings .listing .details p.price {
              line-height: 1;
              font-size: 1.2em;
              font-weight: bold;
              text-align: center;
              margin: 5px; }
    [ng-controller="SearchCtrl"] .results-container .results .pricing {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      font-size: 2em;
      text-align: center;
      width: 50%;
      float: left; }
      [ng-controller="SearchCtrl"] .results-container .results .pricing p {
        margin: 0; }
        [ng-controller="SearchCtrl"] .results-container .results .pricing p:first-child {
          font-size: 0.5em;
          text-transform: uppercase;
          background: cyan; }
        [ng-controller="SearchCtrl"] .results-container .results .pricing p span:last-child {
          font-size: 0.5em; }
